*{
    font-family: 'Montserrat';
}

.barra-header{
    position: absolute;
    z-index:2;
    width: 100%;
    height: 54px;
    left: 0px;
    top: 0px;
    background: #E0981F;
    display: inline-block;
    position: fixed;
}
.hero1{
    z-index:2;
    position: fixed;
    width: 100%;
    height: 141px;
    margin-top: -798px;
    background: #272020;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; 
}
.hero1 nav li {
    display: inline-block;
}
.hero1 nav a {
    color: white;
    padding: 10px;/*Espaço dentro */
    font-family: 'Montserrat';
    font-weight:bold;
    font-size: 17px;
    letter-spacing: 2px; /*espaçamento das letras */
    border-radius: 5px; /*Arredondar as bordas*/
}
.hero1 nav a:hover{
    background: rgba(3,3,3, 0.7); 
}
.logo{
    position: absolute;
    width: 200px;
    height: 134.65px;
    left: 391px;
    top: 10px;
}
.img1{
    width: 685px;
    height: 794px;
}
.toop{
    position: relative;
    z-index: 0;
    top: 900px;
    left: 250px;
}
.barra-header nav li {
    font-family: 'Montserrat';
    font-weight:bold;
    display: inline-block;
    margin-top: 15px;
    margin-left: 70px;
    border: 0px solid white;
}
.icon-barra{
  display: flex;
  justify-content: flex-end;
  z-index: 123;
  margin-top: -45px;
  margin-right: 150px;
}
.icon-barra li{
    margin-right: -50px;
}
.carrosel{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 657px;
    left: 0px;
    top: 195px;
    background-image: url(../img/hahaha.jpg);
} 
.carrosel img{
    margin-top:-450px;
}
.bem-vindo{
    width: 100%;
    height: 644px;
    margin-top: 852px;
    background-color: #272020;
    color: white;
} 
.titulo-bemvindo{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    padding-top: 36px;
    padding-bottom: 30px;
}
.flex-vindo{
    display: flex;
    justify-content: start;
    margin-left: 191px;
    margin-top: 20px;
}
.ap1{
    margin-left: 48px;
}
.ap1 h1{
    font-size: 42px;
    font-weight: bold;
}
.ap1 p {
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
}
.modalidades{
    width: 100%;
    height: 492px;
    background-color: #E0981F; 
}
.text-modalidades{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    padding-top: 17px;
}
.flex-modalidades{
    display: flex;
    justify-content: center;
    text-align: center;
}
.card{
    margin-right: 30px;
    margin-top: 48px;
    font-size: 21px;
    font-weight: bold;
}
.card1{
    margin-top: 50px;
    font-size: 21px;
    font-weight: bold;
}
.card h2{
    padding-bottom: 10px;
}
.cardf h2{
    padding-bottom: 10px;
}
#botao{
    width: 463px;
    height: 69px;
    background-color: #272020;
    border-radius: 6px;
    color:white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 800px;
    margin-top: 30px;
    
}
.link-botao{
    width: 463px;
    height: 69px;
}
.txt-botao{
    text-align: center;
    padding-top: 17px;
}
.variedades{
    width: 100%;
    height: 279px;
    background-color: #332A2A;
    margin-top: 57px;
    color: white;
}
.txt-pensando{
    text-align: center;
    padding-top: 17px;
    font-size: 42px;
    font-weight: bold;
}
.info-pensando{
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.info1, .info2, .info3{
    margin-right: 97px;
}
.info{
    margin-top: 40px;
}
/* FOOTER*/
.footer{
    font-family: 'Montserrat';
    background-color: #272020;
    color: white;
    width: 100%;
    height: 319px;
    margin-top: 278px;
}
.info-footer{
    display: flex;
    justify-content: center;
}
.foot{
    font-size: 30px;
    font-weight: bold;
}
.foot-t1{
    font-size: 18px;
    font-weight: bold;   
}
.texto-footer{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 51px;
    
}
.foot2, .foot3{
   padding-top: 17px;
}
.foot3{
    margin-left: 28px;
}
.foot1{
    margin-right: 28px;
}
.cont{
    margin-top: 12px;
}
.rodape{
    font-family: 'Montserrat';
    width: 100%;
    height: 96px;
    color:white;
    background-color: #272020;
    margin-top: -8px;
}
.barra{
    width: 1707.5px;
    height: 0px;
    border: 2px solid #E0981F;
}
.copy{
    position: absolute;
    width: 543px;
    height: 21px;
    left: 166px;
    top: 2632px;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
}
.icon-rodape{
    display: flex;
    justify-content: flex-end;
    z-index: 123;
    margin-top: -70px;
    margin-right: 150px;
}
.icon-rodape li{
      margin-right: 21px;
      display: inline-block;
}
